.header{
    height: 150px;
   
}
.container-grid{
   width: 100%;
   margin:auto;
   display: flex;
   justify-content:space-between;
   align-items: center;
      
}
.logo{
   width: 120px;
}
.menu a{
   display: flex;
   color: black;
   text-decoration: none;
   justify-content:flex-start;
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
}
#menu{
   width: 750px;
   display: flex;
   justify-content:space-around;
   font-size: 30px;
}

.texto-banner{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   color:rgb(250, 250, 250);
}

.secao-jogos{
  box-shadow: #060320;
}
.jogos{
   display: flex;
   justify-content:space-between;
   align-items: center;
   
   }
   .jogos img{
       width: 300px;
       height: 300px;
   }

   .textsobreparticipar  {
       display: flex;
       position: relative;
       background-color: #04066d ;
       justify-content: center;
       align-items: center;
       text-align: center;
       margin-top: 35px;
   }
   .carousel slide{
       width: 300px;
       height: 300px;
   }

    .comoparticipar {
     display: flex;
     position: relative;
     font-family: Arial, Helvetica, sans-serif;
     width: 100%;
     height: 100px;
     align-items: center;
     text-transform: uppercase;
     margin-top: 30px;
     justify-content: space-between;
     flex-direction: row;
 }
 .noticias1 {
     height: 100px;
     color:black;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center; 
     background-color:gb(255, 255, 255);
     margin-bottom: 50px;     
}
.noticias2{
   height: 100px;
   color:black;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 50px;   
}
.noticias3{
   height: 100px;
   color:black;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 50px;    
}
.noticias4{
   height: 100px;
   color:black;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   left: 50px;
   margin-bottom: 50px;
   }

 .container-imagem{
     display: flex;
     background-color: red;
     text-align: center;
     align-items: center;
     justify-content: center;
     width: 250px;
     margin: auto;
 }
 .barras{
     width: 35px;
     display: none;
 }
 .link-footer{
     margin-top: 30px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     text-transform: uppercase;
     font-size: 20px;
 }
 .carousel-inner{
     margin-left: 300px;
     width: 800px;
     height: 800px;
     display: flex;
     justify-content: center;
     position: relative;
    
 }

 .link1{
     margin: 100px;
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 30px;
   }
    .link2{
        margin: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        text-decoration: none;
    }
    .direitos{
       margin: 150px;
       display: flex;
       text-transform: uppercase;
       align-items: center;
       justify-content: center;
    }
    .redes-sociais{
        display: flex;
        text-transform: uppercase;
        align-items: center;
        justify-content:center;
        flex-direction: row;
        gap: 100px;
        background-color:rgb(255, 255, 255);
    }

 

 @media screen and (max-width: 1200px){
   .menu a{
       color: rgb(2, 2, 2);
       width: 50%;
       display: flex;
       margin-right: 30px;
       align-items: center;
       position: relative;
         font-size: 10px; 
     width: 300px;         
   }
   
   .logo{
       width: 90px;
   }
  
   .carousel-inner {           
  margin-left: 200px;
  display: flex;
   width: 600px;
   height: 600px;
   display: flex;
   justify-content: center;
   position: relative;
}
  .logo{
   width: 130px;  
 }  
 .comoparticipar {
     width: 100%;
     margin: 30px;
 }

 }
 @media screen and (max-width: 768px){
  .body{
      margin: 10px;
      width: 100%;
      color:rgb(8, 8, 223); 
      margin: 350px;      
 } 
 .menu a{
     font-size: 30px;
     display: flex;
     position: relative;
     justify-content: center;
     left: 3px;      
 }  
  .logo{
   width: 70px;
}
 
 .carousel-inner{
     width: 400px;
     height: 400px;
     margin-left: 50px;
 }
 .barras{
   display:flex; 
   justify-content: center;  
}.menu{
   display: none;
   flex-direction: column;
   width: 250px;
   height: 250px;
   position: absolute;
   top: 0;
   right: 60;
   background-color: rgb(255, 255, 255);
} .texto-banner{
   display: flex;
   align-items: flex-start;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   position: absolute;
   color:black;
}

.menu a{
   text-align: center;
   padding: 15px;
}
.link-footer{
   margin:15px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-transform: uppercase;
   font-size: 20px;
   margin-top: 50px;
}
 }