<p>login works!</p>
<header>
    <div class="container-grid">
        <img class="logo"src= "img/logo.svg" alt="Logo do Site">
        <nav id="menu" class="menu">
            <a href=""><h2>Entrevistas</h2></a>
            <a href=""><h2>dowloads</h2></a>
            <a href=""><h2>Notícias</h2></a>
            <a href=""><h2>Resultados</h2></a>
        </nav>
       
<main>
<div class="banner">
  <div class="texto-banner">
    <h4>MELHOR SITE DE JOGOS</h4>  
  </div>      
</div>    
<section class="textosobreparticipar">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/carros.svg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/futebol.svg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/mascarado.svg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  <div id="espaco-noticias" class="comoparticipar">
    
        <div class="noticias1">
           <h3 >Noticias de jogos lançados</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipi<br>
            sicing elit.Obcaecati impedit ullam non,<br></p> </div>
           <div class="noticias2">
            <h3>Noticias de jogos lançados</h3>
            <p>quia deleniti. Ut odio delectus iste <br>
                provident quae, vitae exercitationem!<br> 
                Perferendis excepturi soluta</p>
            </div>   
          <div class="noticias3">
              <h3>Noticias de jogos lançados</h3>
            <p>Lorem ipsum dolor sit amet consectetur <br>
               ipisicing elit. Placeat beatae nisi cor<br>
                suscipit nam </p> 
          </div>
                <div class="noticias4">
                <h3>Noticias de jogos lançados</h3> <p>repudiandae velit modi onsect<br>etur 
                    aspernatur,omnis ipsa, nulla<br> porro 
                    labor quaerat possimus </p>
                </div>
        </div>
            
    
</section>
</main>        
<footer>
    <div class="rodape">
       <div class="link-footer">
           <div class="link1">
               <h2>Link úteis</h2>
               <ul>
                   <li><a href="#">Regras </a></li>
                   <li><a href="#">Central </a></li>
                   <li><a href="#">Suporte</a></li>
            
               </ul>
           </div>
           <div class="link2">
            <h2>páginas</h2>
            <ul>
             
                <li><a href="#">Contato</a></li>
                <li><a href="#">Cadastro</a></li>
                <li><a href="#">login</a></li>
            </ul>
        </div>
        
       </div>
    </div>
 <div class="redes-sociais">
        <h2>siga-nos em nossas redes</h2>
    <a href="#"><img src="img/instagram.svg"></a>
    <a href="#"><img src="img/Facebook.svg"></a>
    <a href="#"><img src="img/fb_messenger.svg"></a>
</div>

    <p class="direitos">Direitos autorais © 1996–2022 game mania.com™. 
            Todos os direitos reservados.</p>
</footer>